/*Background color*/
body{background-color:#eee8dcff;}


/*Background colors*/
.b1{background-color:#9eb2bdff;}
.b2{background-color: #eee8dcff;} 

/*alignment*/
.mid{text-align:center;}

/*Text decoration*/
a{text-decoration: none;}

/*table style*/
table {
  border-collapse: collapse;
  width: 80vw;
  
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size:2.5vw;
  color: #2a4860ff;
}

tr:nth-child(even) {
background-color: #9eb2bdff;}




@media (max-width:768px){
	.banner-logo{
		width: 18%;}
	.instagram-logo{
		width: 18vw;}
		
	.background-img{
		width: 150%;
		margin-top: 12vw;
		margin-left: -25vw;
		z-index:-5;}
	.bestuur_container{
		flex-direction: column;       
        align-items: center;          
        justify-content: center;
        text-align: center;
		}
	.bestuur_foto{
		width: 95vw;}
		
	.Oprichters_foto{
		width: 100vw;}	
		
	.vertrouwenspersoon_container{
		flex-direction: column;       
        align-items: center;          
        justify-content: center;
        text-align: center;
		}	
		
	/*Header color*/
	/*blue banner name*/
		h1{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 8vw;
		}

	/*beige (menu)*/
		h2{color:#eee8dcff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*dark blue (menu)*/
		h3{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*main paragraph header*/
		h4{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 225%;}

	/*Main paragraph*/
		h5{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 125%;}
		
	/*namen bestuur*/
		h6{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 200%;}

	/*boxes*/
		.blue-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #2a4860ff;

		}

		.gold-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #d3bc8bff;}
	}

@media (min-width:768px){
	.banner-logo{
		width: 14%;}
	.instagram-logo{
		width: 14vw;}
	.background-img{
		width: 50%;
		margin-top: -5vw; 
		Margin-left:25vw; 
		z-index:-5;}
	.bestuur_container{
		margin-left: 5vw;
		display: flex;
		flex-direction: row;
		gap: 5vw;
		justify-content: flex-start;
		max-width: 85vw;
		}
	.vertrouwenspersoon_container{
		margin-left: 3vw;
		display: flex;
		flex-direction: row;
		gap: 5vw;
		justify-content: flex-start;
		max-width: 90vw;
		}	
	.bestuur_foto{
		width: 25vw;}
	.Oprichters_foto{
		width: 75vw;
		margin-left: 0vw;}	
	.margin_forced{
		margin-left: 7vw; 
		margin-right: 7vw;
		}
		
	/*Header color*/
	/*blue banner name*/
		h1{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 8vw;
		}

	/*beige*/
		h2{color:#eee8dcff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*dark blue (menu)*/
		h3{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*main paragraph header*/
		h4{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 300%;}

	/*Main paragraph*/
		h5{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 150%;}
		
	/*namen bestuur*/
		h6{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 250%;}
	
	/*boxes*/
		.blue-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #2a4860ff;
		}

		.gold-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #d3bc8bff;}
	}
			